<div class="login col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
    <div class="login-title">
        <h1>Log In</h1>  
        <a ng-href="/" title="Back to list">  
        <img class="exit" src="img/back.png" alt="exit">  
          </a> 
    </div>
    <form action="" class="login-form" name="connect">
        <h2 class="login-subtitle">Registration info</h2>
        <div class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6">
                    <img ng-src="img/login_qos.png" />Protocol</label>
                <div class="col-xs-6">

                    <select class="form-control" name="protocolType" ng-model="Ctrl.protocolType" required>
                        <option selected value="{{item.id}}" ng-repeat="item in Ctrl.types">{{item.name}}</option>
                    </select>                    
                </div>
                <span class="text-danger" ng-show="(connect.$submitted || connect.protocolType.$touched) && connect.protocolType.$error.required">
                    Protocol is required field
                </span>
            </div>
        </div>
        <div ng-if="Ctrl.protocolType == 1 || Ctrl.protocolType == 4 || Ctrl.protocolType == 5" class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6">
                    <img ng-src="img/login_user_name.png" />User name</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" placeholder="username" name="username" ng-model="Ctrl.login.username" required>
                </div>
                <span class="text-danger" ng-show="(connect.$submitted || connect.username.$touched) && connect.username.$error.required">
                    Username is required field
                </span>
            </div>
        </div>
        <div ng-if="Ctrl.protocolType == 1 || Ctrl.protocolType == 4 || Ctrl.protocolType == 5" class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6">
                    <img ng-src="img/login_pass.png" />Password</label>
                <div class="col-xs-6">
                    <input type="password" class="col-xs-6 form-control" name="password" placeholder="Password" ng-model="Ctrl.login.password" required>
                </div>
                <span class="text-danger" ng-show="(connect.$submitted || connect.password.$touched) && connect.password.$error.required">
                    Password is required field
                </span>
            </div>
        </div>

        <div class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6">
                    <img ng-src="img/login_clienid.png" />Client ID</label>
                <div class="col-xs-6">
                    <input type="text" class="col-xs-6 form-control" placeholder="Client ID" name="clientID" ng-model="Ctrl.login.clientID" required>
                </div>
                <span class="text-danger" ng-show="(connect.$submitted || connect.clientID.$touched) && connect.clientID.$error.required">
                   ClientID is required field
                </span>
            </div>
        </div>

        <div class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6">
                    <img ng-src="img/login_server_host.png" />Server host</label>
                <div class="col-xs-6">
                    <input type="text" class="col-xs-6 form-control" name="host" placeholder="server host" ng-model="Ctrl.login.host" required>
                </div>
                <span class="text-danger" ng-show="(connect.$submitted || connect.host.$touched) && connect.host.$error.required">
                    Server host is required field
                </span>
            </div>
        </div>

        <div class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6">
                    <img ng-src="img/login_qos.png" />Port</label>
                <div class="col-xs-6">
                    <input type="text" class="col-xs-6 form-control" name="port" placeholder="Port" ng-model="Ctrl.login.port" required>
                </div>
                <span class="text-danger" ng-show="(connect.$submitted || connect.port.$touched) && connect.port.$error.required">
                    Port is required field
                </span>
            </div>
        </div>

        <h2 ng-if="Ctrl.protocolType == 1 || Ctrl.protocolType == 2 || Ctrl.protocolType == 4 || Ctrl.protocolType == 5" class="login-subtitle">Settings</h2>
        <div ng-if="Ctrl.protocolType == 1 || Ctrl.protocolType == 2 || Ctrl.protocolType == 4 || Ctrl.protocolType == 5" class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6">
                    <img ng-src="img/login_clean_session.png" />Clean session</label>
                <!--<input type="text" class="col-xs-6 form-control" placeholder="Port">-->
                <label class="switch">
                    <input type="checkbox" ng-model="Ctrl.login.isClean">
                    <div class="slider round"></div>
                </label>
            </div>
        </div>
        <div class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6">
                    <img ng-src="img/login_keep_alive.png" />Keepalive</label>
                <div class="col-xs-6">
                    <input type="number" min="0" max="65535" class="col-xs-6 form-control" name="keepalive" placeholder="Keepalive" ng-model="Ctrl.login.keepalive" required>
                </div>
                <span class="text-danger" ng-show="(connect.$submitted || connect.keepalive.$touched) && connect.keepalive.$error.required">
                    Keepalive is required field
                </span>
                <span class="text-danger" ng-show="(connect.$submitted || connect.keepalive.$touched) && (connect.keepalive.$error.min || connect.keepalive.$error.max)">
                    0< Keepalive <65535
                </span>               
            </div>
        </div>
        <div ng-if="Ctrl.protocolType == 1 || Ctrl.protocolType == 2 || Ctrl.protocolType == 5" class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6">
                    <img ng-src="img/login_will.png" />Will</label>
                <div class="col-xs-6">
                    <input data-toggle="modal" data-target="#will" ng-readonly="Ctrl.login.will.content" type="text" class="col-xs-6 form-control"
                        placeholder="Will" ng-model="Ctrl.login.will.content">
                </div>
            </div>
        </div>
        <div ng-if="Ctrl.protocolType == 1 || Ctrl.protocolType == 2 || Ctrl.protocolType == 5" class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6">
                    <img ng-src="img/login_will_topic.png" />Will Topic</label>
                <div class="col-xs-6">
                    <input type="text" class="col-xs-6 form-control" placeholder="Will Topic" ng-model="Ctrl.login.will.topic">
                </div>
            </div>
        </div>
        <div ng-if="Ctrl.protocolType == 1 || Ctrl.protocolType == 2 || Ctrl.protocolType == 5" class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6">
                    <img ng-src="img/login_retain.png" />Retain</label>
                <!--<input type="text" class="col-xs-6 form-control" placeholder="Port">-->
                <label class="switch">
                    <input type="checkbox" ng-model="Ctrl.login.will.retain">
                    <div class="slider round"></div>
                </label>
            </div>
        </div>
        <div ng-if="(Ctrl.protocolType == 1 || Ctrl.protocolType == 2 || Ctrl.protocolType == 5) && Ctrl.login.will.topic && Ctrl.login.will.content"
            class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6">
                    <img ng-src="img/login_qos.png" />QoS</label>
                <div class="col-xs-6">
                    <!-- <input type="text" class="col-xs-6 form-control" placeholder="QoS" ng-model="Ctrl.login.will.qos" required></div> -->
                    <select class="form-control col-xs-6" name="qos" ng-model="Ctrl.login.will.qos" required>
                        <option selected value="{{item}}" ng-repeat="item in [0,1,2]">{{item}}</option>
                    </select>                   
                </div>
                <span class="text-danger" ng-show="(connect.$submitted || connect.qos.$touched) && connect.qos.$error.required">
                    QoS is required field
                </span>
            </div>
        </div>

        <div>
            <h2 class="login-subtitle">Security</h2>
            <div class="login-row form-group-lg">
                <div class="login-formElements clearfix">
                    <label for="" class="col-xs-6">
                        <img ng-src="img/login_pass.png" />Secure</label>
                    <label class="switch">
                        <input type="checkbox" ng-model="Ctrl.login.secure">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>
            <div class="login-row form-group-lg">
                <div class="login-formElements clearfix">
                    <label for="" class="col-xs-6">
                        <img ng-src="img/login_will.png" />Certificate</label>
                    <div class="col-xs-6">
                        <input data-toggle="modal" data-target="#cert" ng-readonly="Ctrl.login.certificate" type="text" class="col-xs-6 form-control"
                            placeholder="Certificate" ng-model="Ctrl.login.certificate">
                    </div>
                </div>
            </div>
            <div class="login-row form-group-lg">
                <div class="login-formElements clearfix">
                    <label for="" class="col-xs-6">
                        <img ng-src="img/login_pass.png" />Password</label>
                    <div class="col-xs-6">
                        <input type="password" class="col-xs-6 form-control" placeholder="Password" ng-model="Ctrl.login.privateKey">
                    </div>
                </div>
            </div>

        </div>

        <button class="login-row login-button form-group-lg" type="button" ng-click="Ctrl.connect(Ctrl.login)">
            <p>Log In</p>
            <!--<div class="login-formElements clearfix">-->
            <!--<label for="" class="col-xs-6"><img ng-src="" /></label>-->
            <!--<input type="button" class=" col-xs-12 btn btn-info btn-lg" value="Log In"></div>-->
            <!--</div>-->
        </button>
    </form>
</div>


<!-- Modal add new case -->
<div class="modal fade" id="will" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Will</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea type="text" class="form-control" id="will" rows="7" ng-model="Ctrl.login.will.content" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn iotBtn" class="close" data-dismiss="modal" data-dismiss="modal">Ok</button>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="cert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Certificate</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea type="text" class="form-control" id="will" rows="7" ng-model="Ctrl.login.certificate" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn iotBtn" class="close" data-dismiss="modal" data-dismiss="modal">Ok</button>

            </div>

        </div>
    </div>
</div>