<div class="login col-xs-6 col-xs-offset-3">
    <div class="login-title">
        <h1>Incoming messages list</h1>
        <img class="exit" src="img/ic_action_exit.png" alt="exit" ng-click="indxCtrl.exit()">
    </div>
    <div class="messages-content">
        <div class="messages-item clearfix" ng-repeat="item in Ctrl.messages | orderBy: '-time'">
            <!--{{item}}-->
            <h3 class="messages-title col-xs-9">{{item.message.topic}}</h3>
            <div class="col-xs-3 clearfix">
                <div class="messages-direction text-center">{{item.message.direction}}</div>
                <div class="messages-qos text-center">QOS: {{item.message.qos}}</div>
            </div>
            <div class="col-xs-12 messages-text">
                <p>
                    {{item.message.content}}
                </p>
            </div>
        </div>
    </div>
</div>