<form action="" class="">
    <div class="form-group-lg">
        <div class="clearfix">
            <input type="text" class="form-control" placeholder="topic" ng-model="Ctrl.newItem.topic">
        </div>
    </div>
    <div class="form-group-lg">
        <div class="clearfix">
            <input type="text" class="form-control" placeholder="qos" ng-model="Ctrl.newItem.qos">
        </div>
    </div>
    <div class="topics-addButton" ng-click="Ctrl.addItem()">
        <p>Add</p>
    </div>
</form>