body {
  font-size: 18px;
  overflow-y: scroll;
  background-image: url("../img/iot_broker_background.jpg");
  background-attachment: fixed; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  width: 84px;
  height: 46px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 38px;
  width: 38px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #0094d2; }

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #0094d2;
  box-shadow: 0 0 1px #0094d2; }

input:checked + .slider:before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
  transform: translateX(38px); }

/* Rounded sliders */
.slider.round {
  -webkit-border-radius: 34px;
  border-radius: 34px; }

.slider.round:before {
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.navbar.center .navbar-inner {
  text-align: center; }

.navbar.center .navbar-inner .nav {
  display: inline-block;
  float: none; }

.navigation-fixed-top,
.navigation-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: white;
  height: 60px; }

.navigation-fixed-top {
  top: 0; }

.navigation-fixed-bottom {
  bottom: 0;
  height: 80px; }

.navigation-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px; }

.navigation-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px; }

.navigation-item > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #0094d2;
  text-decoration: none;
  background-color: transparent; }

.navigation-item > li {
  list-style: none;
  float: left;
  width: 33.33%;
  text-align: center;
  padding-top: 10px; }

.navigation-item > li > a {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.navigation-item > li > a:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

.navigation-item > li > a.active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

.exit {
  position: absolute;
  right: 30px;
  top: 40px;
  cursor: pointer; }

.login {
  margin-bottom: 80px; }
  .login-title {
    background-color: #0094d2;
    color: white;
    text-align: center;
    margin: 20px 0; }
    .login-title h1 {
      line-height: 76px; }
  .login-subtitle {
    color: white; }
  .login-row {
    background-color: white;
    border-bottom: 2px lightgrey solid; }
  .login-formElements {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    position: relative;
    padding: 20px 0; }
    .login-formElements img {
      margin-right: 20px; }
    .login-formElements .form-control {
      border: none;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border-color: transparent !important;
      text-align: right; }
  .login-button {
    color: #fff;
    background: lightskyblue;
    min-height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
    width: 100%; }
  .login-button:hover {
    background: #18a3dc; }

.messages-title {
  margin-top: 0; }

.messages-content {
  background: white;
  min-height: 500px; }

.messages-item {
  padding: 20px 0 0 0; }

.messages-direction {
  background: #0094d2;
  color: #fff;
  height: 33px;
  line-height: 33px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  border-top-left-radius: 15px; }

.messages-qos {
  line-height: 33px;
  height: 33px;
  background: gold;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  border-bottom-left-radius: 15px; }

.messages-text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .messages-text p {
    color: gray;
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px lightgray solid; }

.topics-title {
  margin: 0;
  min-height: 30px; }

.topics-item {
  background: white;
  border-bottom: lightgray 1px solid;
  padding: 20px 15px 20px 15px; }

.topics-qos {
  line-height: 33px;
  height: 30px;
  background: gold;
  -webkit-border-radius: 15px;
  border-radius: 15px; }

.topics-button {
  margin: 15px 0;
  border: gray 2px dashed;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  min-height: 180px;
  font-size: 26px;
  color: gray; }
  .topics-button img {
    margin: 30px 0; }

.topics-button:hover {
  cursor: pointer;
  color: #0094d2; }

.topics-addButton {
  color: #fff;
  background: #18a3dc;
  min-height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.6; }

.topics-addButton:hover {
  opacity: 1; }

.topicRemove .popover-title {
  background: #18a3dc;
  color: #fff;
  text-align: center;
  font-size: 18px; }

.topicAdd .popover {
  max-width: 960px;
  min-width: 480px; }
  .topicAdd .popover-title {
    background: #18a3dc;
    color: #fff;
    text-align: center;
    font-size: 26px;
    line-height: 70px;
    min-height: 70px; }
  .topicAdd .popover .form-control {
    margin-top: 20px; }

.iotBtn {
  background-color: #0094d2;
  color: #fff; }

.listMessages h1 {
  margin-right: 50px; }

button.login-button {
  border: none; }
