<div id="userslist" class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
    <div class="login-title">
        <h1>Please select account</h1>       
    </div>

    <div class="login-row form-group-lg">
        <div class="login-formElements clearfix" >
            <div class="users-item clearfix" ng-repeat="item in Ctrl.userslist" >
                <div class="pull-left" data-dismiss="modal" ng-click="Ctrl.connect(item)">
                        <h4>{{item.type.name}}</h4>
                        <span>{{item.clientID}}</span><br>
                        <span>{{item.host}}:{{item.port}}</span>
                </div>
                <div class="pull-right">
                    <button type="button" ng-click="Ctrl.removeUserFromList(item)" class="btn iotBtn iotBtn-rounded ">
                        <img ng-src="img/delete_topic_icon.png">
                    </button>
                </div>
                </div>
           
        </div>
    </div>
    <a  ng-href="login">
        <button class="login-row login-button form-group-lg" type="button">
            <p>Add new account</p>
        </button>
    </a>
   
</div>