<div class="login col-xs-6 col-xs-offset-3">
    <div class="login-title">
        <h1>Send message</h1>
        <img class="exit" src="img/ic_action_exit.png" alt="exit" ng-click="indxCtrl.exit()">
    </div>
    <form action="" class="login-form">
        <div class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6"><img ng-src="img/login_will.png" />Content</label>
                <div class="col-xs-6">
                    <input type="text" class="col-xs-6 form-control" placeholder="Content" ng-model="Ctrl.message.content"></div>
            </div>
        </div>
        <div class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6"><img ng-src="img/login_will_topic.png" />Topic</label>
                <div class="col-xs-6">
                    <input type="text" class="col-xs-6 form-control" placeholder="Topic" ng-model="Ctrl.message.topic"></div>
            </div>
        </div>
        <div class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6"><img ng-src="img/login_qos.png" />QoS</label>
                <div class="col-xs-6">
                    <input type="text" class="col-xs-6 form-control" placeholder="QoS" ng-model="Ctrl.message.qos"></div>
            </div>
        </div>
        <div class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6"><img ng-src="img/login_retain.png" />Retain</label>
                <!--<input type="text" class="col-xs-6 form-control" placeholder="Port">-->
                <label class="switch">
                <input type="checkbox" ng-model="Ctrl.message.retain">
                <div class="slider round"></div>
            </label>
            </div>
        </div>
        <div class="login-row form-group-lg">
            <div class="login-formElements clearfix">
                <label for="" class="col-xs-6"><img ng-src="img/login_retain.png" />Duplicate</label>
                <!--<input type="text" class="col-xs-6 form-control" placeholder="Port">-->
                <label class="switch">
                <input type="checkbox" ng-model="Ctrl.message.isDupe">
                <div class="slider round"></div>
            </label>
            </div>
        </div>
        <div class="login-row login-button form-group-lg" ng-click="Ctrl.publish()">
            <p>Send</p>
            <!--<div class="login-formElements clearfix">-->
            <!--<label for="" class="col-xs-6"><img ng-src="" /></label>-->
            <!--<input type="button" class="col-xs-12 btn btn-info btn-lg" value="Send"></div>-->
            <!--</div>-->
        </div>
    </form>
</div>