<form action="" class="">
    <div class="form-group-lg">
        <div class="clearfix">
            <input type="text" class="form-control" placeholder="topic" ng-model="Ctrl.newItem.topic">
        </div>
    </div>
    <div class="form-group-lg">
        <div class="clearfix">
            <!-- <input type="text" class="form-control" placeholder="qos" ng-model="Ctrl.newItem.qos"> -->
            <select ng-hide="Ctrl.sessionData.type.id == 3" class="form-control" ng-model="Ctrl.newItem.qos" required>
                <option selected value="{{item}}" ng-repeat="item in [0,1,2]">{{item}}</option>                       
            </select>

            <select  ng-show="Ctrl.sessionData.type.id == 3" class="form-control" ng-model="Ctrl.newItem.qos" required>
                <option selected value="{{item}}" ng-repeat="item in [0,1]">{{item}}</option>                       
            </select>

        </div>
    </div>    
    <div class="topics-addButton" ng-click="Ctrl.addItem()">
        <p>Add</p>
    </div>
</form>